* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Suisse Int'l", "Arial", sans-serif;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.wrapper {
  background: #92bd72;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.icon-way {
  color: white;
  position: relative;
}
.title {
  position: absolute;
  left: 58px;
  top: 24px;
}
