* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.wrapper {
  border: 1px solid red;
  background: #92bd72;
  height: 100vh;
}
